<h1>Ceintures lombaires</h1>
    <div class="form-groupng lignequestionnaire d-flex flex-row">
        <label class="col-sm-2" for="projet">Projet</label>
        <select (change)="changeProjet($event)" class="form-control col-sm-10" id="projet" required>
        <option *ngFor="let proj of projets" [value]="proj">{{proj}}</option>
        </select>
    </div>
    <div class="form-groupng lignequestionnaire d-flex flex-row">
    <label class="col-sm-2" for="symptomatologie" >Symptomatologie </label>
    <select (change)="changeSymptomatologie($event)" class="form-control col-sm-10 " id="symptomatologie" required>
      <option *ngFor="let proj of symptomatologie" [value]="proj">{{proj}}</option>
    </select>
  </div>
  <div class="form-groupng lignequestionnaire d-flex flex-row questionnaire">
      <label class="col-sm-2" for="morphologie">Morphologie</label>
      <select (change)="changeMorphologie($event)" class="form-control col-sm-10 " id="morphologie" required>
        <option *ngFor="let proj of morphologies" [value]="proj">{{proj}}</option>
      </select>
    </div>
    <div class="form-groupng lignequestionnaire d-flex flex-row">
    <label class="col-sm-2" for="activite">Activite</label>
    <select (change)="changeActivite($event)" class="form-control col-sm-10 " id="activite" required>
        <option *ngFor="let proj of activites" [value]="proj">{{proj}}</option>
    </select>
    </div>
      <div class="form-groupng lignequestionnaire d-flex flex-row">
        <label class="col-sm-2" for="attente">Attentes Personnelles</label>
        <select (change)="changeAttentes($event)" class="form-control col-sm-10 " id="attente" required>
        <option *ngFor="let proj of attentesPersonnelles" [value]="proj">{{proj}}</option>
        </select>
    </div>

<div class="text-center buttons">
    <button (click)="resetForm();" class="btn btn-secondary align-center ">Nouvelle Recherche</button>

    <button (click)="fetchData();" class="btn btn-primary align-center">Lancer la Recherche</button>
</div>

<br/>
<br/>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="ceintures">
    <thead>
      <tr>
        <th>Correspondance</th>
        <th>Photo</th>
        <th>Nom</th>
        <th>Fabricant</th>
        <th>Référence</th>
        <th>Couleur</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ceinture of ceintures" class="ceintureRow ">
        <td>{{ceinture. numero}}</td>
        <td><img class="imgTab" src={{ceinture.imgURL}}/></td>
        <td>{{ceinture.nom}}</td>
        <td>{{ceinture.nomFabricant}}</td>
        <td>{{ceinture.reference}}</td>
        <td>{{ceinture.couleur}}</td>  
      </tr>
    </tbody>
  </table>
  